.loader {
  text-align: center;
  font-size: 1.5rem;

  span {
    font-size: 3rem;
  }
}

.bg {
  background-color: #31154d;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0.1px;
}